{% extends "nansatcat/base.html" %}
{% load staticfiles %}


{% block headers %}
<th>Filename</th>
<th>Matchup</th>
<th>Start date</th>
<th>Quicklooks</th>
{% endblock headers %}


{% block columns %}
<td>
    <a href="{% url viewname  %}{{chain_id}}/{{ img.id }}"> {{ img.sourcefile.name }} </a>
</td>

<td>
    <a href="{% url viewname  %}{{chain_id}}/{{ img.id }}/matchup/"> matchup </a>
</td>

<td>
    {{ img.start_date }}
</td>
<!--
<td>
    {% for list in img.sarweb.get_ql_list %}
    {{ list.0 }}-polarization </br >
    <img src="{{ STATIC_URL }}sar_web/{{ img.mapper }}/{{ list.1 }}" style="height: 500px;" >
    </br >
    {% endfor %}
</td>
-->
{% endblock columns %}
