{% extends "viewer/site_base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load bootstrap_tags %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-6">
                {% if greeting %}
                <h1>{{ greeting }}</h1>
                {% else %}
                <h1>Geo-SPaaS catalog viewer</h1>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-7">
            <form action="{% url 'geospaas:viewer:index' %}" method="post">
                {% csrf_token %}
                    {{ form|as_bootstrap }}
                    {% comment %}
                    {{ form.polygon }}
                    {% endcomment %}
                <input type=hidden id="page" name="page" value=1 />
                <input type="submit" value="Search" />
            </form>
            <a href="{% url 'geospaas:viewer:index' %}">RELOAD</a>
            </div>
            <div class="col-md-5">
                <table border=1>
                    <tr>
                        <th>Visualizations</th>
                    </tr>
                    {% if params %}
                    <form>
                        {% for pp in params %}
                        <tr><td>
                            <input type="checkbox" id='viz_{{ pp }}'
                                class='vizButton'
                                style="width: 0">
                            <label for='viz_{{ pp }}'>{{ pp }}</label>
                        </td></tr>
                        {% endfor %}
                    </form>
                    {% endif %}
                </table>
                <div class="pagination">
                    <span class="step-links">
                        {% if datasets.has_previous %}
                            <a href="javascript:void(0)"
                                onclick="window.document.forms[1].page.value={{ datasets.previous_page_number }} ; window.document.forms[1].submit()">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ datasets.number }} of {{ datasets.paginator.num_pages }}.
                        </span>

                        {% if datasets.has_next %}
                            <a href="javascript:void(0)"
                                onclick="window.document.forms[1].page.value={{ datasets.next_page_number }} ; window.document.forms[1].submit()">next</a>
                        {% endif %}
                    </span>
                    <table border=1>
                        <!-- HEADER -->
                        <tr>
                            {% block headers %}
                            <th>Filename</th>
                            {% endblock headers %}
                            <th>Show</th>
                        </tr>

                        {% if datasets %}

                            {% for ds in datasets %}
                            <tr id={{ forloop.counter }}>

                                {% block columns %}
                                <td>
                                <a href="{% url viewname  %}{{ ds.filename.name }}"> {{ col.1 }} </a>
                                </td>
                                {% endblock columns %}

                                <td><input class='dsOverlay' type="checkbox" name="{{ forloop.counter }}" id="{{ forloop.counter }}">
                                </td>
                            </tr>
                            {% endfor %}

                        {% else %}
                            <tr><td colspan=10>No datasets are available.</td></tr>
                        {% endif %}

                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_script %}

    <script type="text/javascript">
        var map;
        var mapPolygons = [];
        var mapConstPolygons = [];
        var mapImageOverlays = new Array();
        var mapVizParamOverlays = new Array();
        //var MapQuestOpen_Aerial = L.tileLayer(
        //    'http://otile{s}.mqcdn.com/tiles/1.0.0/{type}/{z}/{x}/{y}.{ext}', {
        //        type: 'sat',
        //        ext: 'jpg',
        //        attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Portions Courtesy NASA/JPL-Caltech and U.S. Depart. of Agriculture, Farm Service Agency',
        //        subdomains: '1234'
        //});


        function add_polygon(id){
            window.mapPolygons[ id ].addTo(window.map);
        }

        function remove_polygon(id){
            window.map.removeLayer(window.mapPolygons[ id ]);
        }

        function toggle_polygon(showPoly, id) {
            if (showPoly.checked == true) add_polygon(id);
            else remove_polygon(id);
        };

        function add_image_overlay(prodButton){
            mapImageOverlays[ prodButton.id ].addTo(window.map);
            prodButton.checked = true;
            $(prodButton).next("label").css( "color", 'green');
        }

        function remove_image_overlay(prodButton){
            window.map.removeLayer(mapImageOverlays[ prodButton.id ]);
            prodButton.checked = false;
            $(prodButton).next("label").css( "color", 'black');
        }

        function toggle_image_overlay(prodButton) {
            if (prodButton.checked == true) add_image_overlay(prodButton);
            else remove_image_overlay(prodButton);
        };

        function add_vizParam_overlay(vizButton){
            for ( var cnt in mapVizParamOverlays[ vizButton.id ]){
                prodID = mapVizParamOverlays[ vizButton.id ][cnt];
                mapImageOverlays[ prodID ].addTo(window.map);
            }
            vizButton.checked = true;
            $(vizButton).next("label").css( "color", 'green');
        }

        function remove_vizParam_overlay(vizButton){
            for ( var cnt in mapVizParamOverlays[ vizButton.id ]){
                prodID = mapVizParamOverlays[ vizButton.id ][cnt];
                window.map.removeLayer(mapImageOverlays[ prodID ]);
            }
            vizButton.checked = false;
            $(vizButton).next("label").css( "color", 'black');
        }

        function toggle_vizParam_overlay(vizButton) {
            if (vizButton.checked == true) add_vizParam_overlay(vizButton);
            else remove_vizParam_overlay(vizButton);
        };

        {% for ds in datasets %}
            mapPolygons[ {{ forloop.counter }} ] = {{ ds.geo_js|safe }}
            mapConstPolygons[ {{ forloop.counter }} ] = {{ ds.const_geo_js|safe }}
        {% endfor %}

        window.addEventListener("map:init", function (e) {
            window.map = e.detail.map;
            window.map.setView([0,0], 2);
            {% for ds in datasets %}
                window.mapConstPolygons[ {{ forloop.counter }} ].addTo(window.map);
            {% endfor %}

        }, false);

        /*
        // TODO: triggers add/remove polygon when hover any TR
        $( "tr" ).mouseover(function() {
            cbstr = ':checkbox[name=' + this.id + ']';
            if ($(cbstr).prop("checked") == false) add_polygon(this.id);
        });

        $( "tr" ).mouseout(function() {
            cbstr = ':checkbox[name=' + this.id + ']';
            if ($(cbstr).prop("checked") == false) remove_polygon(this.id);
        });
        */

        $('.dsOverlay').click(function() {
            toggle_polygon(this, this.id);
        });

        var prodUrls = new Array();
        var prodExtents = new Array();
        {% for ds in datasets %}
            {% for viz in ds.visualizations %}
            mapImageOverlays["prod_{{ viz.id }}"] = L.imageOverlay('{{ viz.get_absolute_url }}',
                    [
                        [{{ viz.geographic_location.geometry.extent.1 }},
                            {{ viz.geographic_location.geometry.extent.0 }}],
                        [{{ viz.geographic_location.geometry.extent.3 }},
                            {{ viz.geographic_location.geometry.extent.2 }}]
                    ]);
            {% endfor %}
        {% endfor %}


        {% for pp, vlist in visualizations.iteritems %}
            mapVizParamOverlays["viz_{{ pp }}"] = [
            {% for viz in vlist %}
                'prod_{{ viz.id }}',
            {% endfor %}
            ];
        {% endfor %}


        $(".prodButton").click(function() {
            toggle_image_overlay(this);
        });

        $(".vizButton").click(function() {
            toggle_vizParam_overlay(this);
        });

    </script>


    {% comment %}
    {{ visualizations.anomaly_of_surface_backwards_doppler_centroid_frequency_shift_of_radar_wave }}
    {% endcomment %}
    {% for pp, vlist in visualizations.iteritems %}
    {{ pp }}
    {% endfor %}

{% endblock %}

