{% load staticfiles %}
{% load leaflet_tags %}
<html>
    <head>
        <title>
            Data archive demonstration site
        </title>
        <!-- Styles -->
        {% block style_base %}
            <link href="{% static "viewer/dist/css/bootstrap.css" %}" rel="stylesheet">
            <link href="{% static "viewer/css/navbar.css" %}" rel="stylesheet">
            {% leaflet_css plugins="forms" %}
            <style>
                .leaflet-container {  /* all maps */
                    width:  100%;
                    height: 100%;
                }
            </style>
            <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
            {% block extra_style %}{% endblock %}
        {% endblock %}
        {% block html5shim %}
            <!-- HTML5 shim, for IE6-8 support of HTML elements -->
            <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
        {% endblock %}
        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block topbar_base %}
        <div class="container-fluid">
            <div class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {% block site_brand %}
                            {% comment %}
                                padding-top to be adjusted after logo size
                            {% endcomment %}
                            <a class="brand" href="#">
                                <img src="{% static "viewer/img/nersc_logo.png" %}" >
                            </a>
                        {% endblock %}
                    </div>
                    <div class="collapse navbar-collapse"
                        id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% comment %}
                            {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                            {% endcomment %}
                            <li class="active"><a href="/cat">Catalogue</a></li>
                            <li><a href="/proc">Processed</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle"
                                        data-toggle="dropdown">Dropdown <span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left"
                            role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn
                                    btn-default">Submit</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Link</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle"
                                    data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        {% endblock %}

        {% block body %}
        {% endblock %}


        {% block script_base %}
            <script src="{% block jquery_src %}{% static "viewer/js/jquery-1.11.1.min.js" %}{% endblock %}"></script>
            {% comment %}
            <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
            {% endcomment %}
            <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
            {% leaflet_js plugins="forms" %}
            <script src="{% static "viewer/dist/js/bootstrap.min.js" %}"></script>
            <script src="{% static "viewer/dist/js/theme.js" %}"></script>
            <!-- <script type="text/javascript" src="{% static "viewer/js/index-slider.js" %}"></script> -->
            <script>
                $(document).ready(function() {
                    $('.datepicker').datepicker();
                });
            </script>
            {% block extra_script %}{% endblock %}
        {% endblock %}

    </body>
</html>
