{% extends "site_base.html" %}
{% load leaflet_tags %}

{% block body %}
<h2>{{ image.sourcefile.name }}</h2>

{% leaflet_map "yourmap" %}

<p>
Min SST: <input class=sst_limit type="number" name="minSST" id="minSST" min="-2" max="35" value={{ min_sst }}>
Max SST: <input class=sst_limit type="number" name="maxSST" id="maxSST" min="-2" max="35" value={{ max_sst }}>
</p>

{% for list in image.sarweb.get_ql_list %}
    <label for="show_overlay">Show {{ list.0 }}</label>
    <input type="checkbox" name=1 id={{ forloop.counter }} {% if forloop.counter == 1 %} checked=true {% endif %} >
    <input class=opacity_number type="number" name="quantity" id={{ forloop.counter }} min="0" max="100" value=100>
    <br>
{% endfor %}

    {% block quicklooks %}
    {% endblock %}

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    var map;
    var imageOverlays = [];
    var sstWMS;
    var sstURL;

    window.addEventListener("map:init", function (e) {
        window.map = e.detail.map;
        window.map.setView({{ center }}, 5)

        {% for ql in image.quicklooks.all %}
            var imageUrl = "{{ STATIC_URL }}sar_web/{{ image.mapper }}/{{ ql.name }}";
            var imageBounds = {{ image.get_bounds }};
            imageOverlays[{{ forloop.counter }}] = L.imageOverlay(imageUrl, imageBounds);
        {% endfor %}

        add_sst();
        imageOverlays[1].addTo(window.map);
    }, false);

function toggle_overlay(cb) {
    if (cb.checked == true) imageOverlays[cb.id].addTo(window.map);
    else window.map.removeLayer(imageOverlays[cb.id]);
};

function set_sst_url(){
    urlMinSST = parseFloat(window.minSST.value) + 273;
    urlMaxSST = parseFloat(window.maxSST.value) + 273;
    sstURL = "http://data.nodc.noaa.gov/thredds/wms/ghrsst/L4/GLOB/JPL_OUROCEAN/G1SST/{{ year }}/{{ doy }}/{{ datestr }}-JPL_OUROCEAN-L4UHfnd-GLOB-v01-fv01_0-G1SST.nc.bz2?service=WMS&COLORSCALERANGE=" + urlMinSST + ',' + urlMaxSST;
};

function add_sst() {
    set_sst_url();
    sstWMS = L.tileLayer.wms(sstURL, {
        layers: 'analysed_sst',
        format: 'image/png',
        transparent: true,
        attribution: "JPL OUROCEAN SST",
    });

    sstWMS.addTo(window.map);
}

function update_sst() {
    set_sst_url();
    sstWMS.setUrl(sstURL);
};


$(':checkbox').click(function() {
    toggle_overlay(this);
});

$(".opacity_number").bind('input', function() {
    imageOverlays[this.id].setOpacity(this.value / 100);
});

$(".sst_limit").bind('input', function() { update_sst(); });

</script>

{% endblock %}
