<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'base_viewer/styles.css' %}" >
    </head>
    <body>
        <div id="geospaas_apps">
            <div id="geospaas_sidebar">
                {% block geospaas_sidebar %}
                    {% for app_name in geospaas_apps %}
                        <div class="geospaas_tab_label {% if app_name == selected_tab %} geospaas_selected_tab{% endif %}">
                            <a href="{% url 'geospaas:index' %}{{ app_name }}">{{ app_name | title }}</a>
                        </div>
                    {% endfor %}
                {% endblock geospaas_sidebar %}
            </div>
            <div id="geospaas_tab_contents">
                {% block geospaas_tab_contents %}
                <div id="default_tab">Welcome to GeoSPaaS!</div>
                {% endblock geospaas_tab_contents %}
            </div>
        </div>
    </body>
</html>
