{% load static %}
{% load leaflet_tags %}
<html>

<head>
	<title>Meta-data finder</title>
	{% leaflet_js plugins="ALL" %}
	{% leaflet_css plugins="ALL" %}
<link rel="stylesheet" href="{% static 'base_viewer/styles.css' %}" >
</head>

<body class="body" >
	<div id="para_container">

		<div id=content class="para2"><!--start of contentmap-->
			{% block contentmap %}
			{% endblock contentmap%}
		</div><!--end of contentmap-->

		<div id=result class="para2"><!--start of result section-->
			{% block content_result %}
			{% endblock content_result%}
		</div><!--end of result section-->

		<div id="searchbox"><!--start of searchbox-->
			{% block searchbox %}
			{% endblock searchbox %}
		</div><!--end of searchbox-->
    </div>
</body>

</html>
