<html >
	{% load static  %}
	{% load leaflet_tags %}
<head>
	<title>Meta-data finder</title>
	{% leaflet_js plugins="ALL" %}
	{% leaflet_css plugins="ALL" %}

<!--
	<style>

		.leaflet-container {  /* all maps */
			width:  100%;
			height: 100%;
		}
	</style>-->
	<style>
		#para_container {
			display: grid;
			grid-template-columns: 3fr 2fr;
			grid-gap: 10px;
			position: relative;
		}

		.para2 {
			float: left;
			padding: 2px;
		}

		#content {
			grid-column: 1;
			grid-row: 1;
		}

		#result {
			grid-column: 2;
			grid-row: 1;
		}

		#searchbox {
			padding: 20px;
			grid-column: 1 / 3;
			grid-row: 2;
		}

	</style>
</head>

<body class="body" >
	<div id="para_container">

		<div id=content class="para2"><!--start of contentmap-->
			{% block contentmap %}
			{% endblock contentmap%}
		</div><!--end of contentmap-->

		<div id=result class="para2"><!--start of result section-->
			{% block content_result %}
			{% endblock content_result%}
		</div><!--end of result section-->

		<div id="searchbox"><!--start of searchbox-->
			{% block searchbox %}
			{% endblock searchbox %}
		</div><!--end of searchbox-->
    </div>
</body>

</html>
