{% extends "base_viewer/origin_of_templates.html" %}

{% load leaflet_tags %}

{% leaflet_js %}
{% leaflet_css %}

{% block searchbox %}

{% endblock searchbox %}
##############################################################################################################
##############################################################################################################
##############################################################################################################
##############################################################################################################
##############################################################################################################
{% block content_result %}
<table border=1 width='100%' height='100%'>
    <!-- HEADER -->
    <tr>
        {% block headers %}
        <th>Filename</th>
        {% endblock headers %}
        <!--<th>Show</th>-->
    </tr>

    {% if datasets %}

    {% for ds in datasets %}
    <tr >

        <td>
            {% for url in ds.dataseturi_set.all %}
            {{ url.uri|urlizetrunc:64}} <br>
            {% endfor %}
        </td>

    </tr>
    {% endfor %}

    {% else %}
    <tr>
        <td colspan=10>No datasets are available.</td>
    </tr>
    {% endif %}
</table>
{% endblock content_result %}
##############################################################################################################
##############################################################################################################
##############################################################################################################
##############################################################################################################
##############################################################################################################
{% block contentmap %}

<form method="post" width='100%' height='100%'>
    {% csrf_token %}

    {{SpatialSearchForm.as_p}}

    {{TimeAndSourceForm.as_p}}

    <input type="submit" value="Search all meta-data" />
</form>
{% endblock contentmap %}
<!--{% for o in form_list %}

{{ o.as_p }}
{% endfor %}-->
