#geospaas_apps {
    display: grid;
    grid-template-columns: 5% auto;
    grid-template-rows: 100%;
    grid-gap: 10px;
}

#geospaas_sidebar {
    grid-column: 1;
    grid-row: 1;
}

#geospaas_tab_contents {
    grid-column: 2;
    grid-row: 1;
}

.geospaas_selected_tab {
    background-color: lightgrey;
}