#para_container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 10px;
}

.para2 {
    padding: 2px;
}

#content {
    grid-column: 1;
    grid-row: 1;
}

#result {
    grid-column: 2;
    grid-row: 1;
    max-height: 620px;
    overflow:auto;
  }
#pgbutton {
  grid-column: 2;
  grid-row: 2;
}



.attr_title {
  font-size: 0px;
  font-weight: bold;
  display: contents;
  padding-left: 0%;
}
.attr_content{
  display: contents;
  font-size: 0px;
  clear: left;
  }
  .attr_content::after{
    content: "\a";
    white-space: pre;
}
  .attr_content_list::after{
    content: "\a";
    white-space: pre;
}
