{% extends "base_viewer/geospaas.html" %}
{% block geospaas_tab_contents %}
<div id="catalog" class="app" >
    {% load static %}
    {% load leaflet_tags %}
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    <link rel="stylesheet" href="{% static 'catalog/styles.css' %}" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='{% static "catalog/js/leaflet.ajax.min.js" %}'></script>
    <script src='{% static "catalog/js/catalog.js" %}'></script>

    <div id="para_container">

        <div id=content class="para2">
            <!--start of contentmap-->
            {% block contentmap %}
            {% endblock contentmap%}
        </div>
        <!--end of contentmap-->

        <div id=result class="para2">
            <!--start of result section-->
            {% block content_result %}
            {% endblock content_result%}
        </div>
        <!--end of result section-->
        <div id=pgbutton class="para2">
            <!--start of pagination button section-->
            {% block pagination_button_result %}
            {% endblock pagination_button_result%}
        </div>
        <!--end of button section-->

    </div>
</div>
{% endblock %}
