{% extends "site_base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load bootstrap_tags %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-6">
                {% if greeting %}
                <h1>{{ greeting }}</h1>
                {% else %}
                <h1>Nansen-cloud data archive</h1>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-7">
            <form action="{% url viewname %}" method="post">
                {% csrf_token %}
                    {{ form|as_bootstrap }}
                    {% comment %}
                    {{ form.polygon }}
                    {% endcomment %}
                <input type=hidden id="page" name="page" value=1 />
                <input type="submit" value="Search" />
            </form>
            <a href="{% url 'index' %}">RELOAD</a>
            </div>
            <div class="col-md-5">
                <div class="pagination">
                    <span class="step-links">
                        {% if images.has_previous %}
                            <a href="javascript:void(0)" onclick="window.document.forms[1].page.value={{ images.previous_page_number }} ; window.document.forms[1].submit()">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ images.number }} of {{ images.paginator.num_pages }}.
                        </span>

                        {% if images.has_next %}
                            <a href="javascript:void(0)" onclick="window.document.forms[1].page.value={{ images.next_page_number }} ; window.document.forms[1].submit()">next</a>
                        {% endif %}
                    </span>
                <table border=1>
                    <!-- HEADER -->
                    <tr>
                    {% block headers %}
                    <th>Filename</th>
                    {% endblock headers %}
                    <th>Show</th>
                    </tr>

                {% if images %}

                    {% for img in images %}
                    <tr id={{ forloop.counter }}>

                        {% block columns %}
                            <td>
                                <a href="{% url viewname  %}{{ img.filename.name }}"> {{ col.1 }} </a>
                            </td>
                        {% endblock columns %}

                        <td><input class='dsOverlay' type="checkbox" name="{{ forloop.counter }}" id="{{ forloop.counter }}">
                    </tr>
                    {% endfor %}

                {% else %}
                    <tr><td colspan=10>No images are available.</td></tr>
                {% endif %}

                </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_script %}

    <script type="text/javascript">
        var map; //= map('map').SetView([100,60], 13);
        var mapPolygons = [];
        var mapConstPolygons = [];
        var mapImageOverlays = new Array();
        var MapQuestOpen_Aerial = L.tileLayer(
            'http://otile{s}.mqcdn.com/tiles/1.0.0/{type}/{z}/{x}/{y}.{ext}', {
                type: 'sat',
                ext: 'jpg',
                attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Portions Courtesy NASA/JPL-Caltech and U.S. Depart. of Agriculture, Farm Service Agency',
                subdomains: '1234'
        });


        function add_polygon(id){
            window.mapPolygons[ id ].addTo(window.map);
        }

        function remove_polygon(id){
            window.map.removeLayer(window.mapPolygons[ id ]);
        }

        function toggle_polygon(showPoly, id) {
            if (showPoly.checked == true) add_polygon(id);
            else remove_polygon(id);
        };

        function add_image_overlay(prodButton){
            mapImageOverlays[ prodButton.id ].addTo(window.map);
            prodButton.checked = true;
            $(prodButton).next("label").css( "color", 'green');
        }

        function remove_image_overlay(prodButton){
            window.map.removeLayer(mapImageOverlays[ prodButton.id ]);
            prodButton.checked = false;
            $(prodButton).next("label").css( "color", 'black');

        }

        function toggle_image_overlay(prodButton) {
            if (prodButton.checked == true) add_image_overlay(prodButton);
            else remove_image_overlay(prodButton);
        };

        {% for img in images %}
            mapPolygons[ {{ forloop.counter }} ] = L.polygon({{ img.border2str }}, {color: '#fff', weight: 1, fillOpacity: 0.05, fillColor: '#f00'});
            mapConstPolygons[ {{ forloop.counter }} ] = L.polygon({{ img.border2str }}, {color: '#fff', weight: 0.5, fillOpacity: 0.0, fillColor: '#b20000'});
        {% endfor %}

        window.addEventListener("map:init", function (e) {
            window.map = e.detail.map;
            window.map.setView([0,0], 2);
            MapQuestOpen_Aerial.addTo(window.map);
            {% for img in images %}
                window.mapConstPolygons[ {{ forloop.counter }} ].addTo(window.map);
            {% endfor %}

        }, false);

        $( "tr" ).mouseover(function() {
            cbstr = ':checkbox[name=' + this.id + ']';
            if ($(cbstr).prop("checked") == false) add_polygon(this.id);
        });

        $( "tr" ).mouseout(function() {
            cbstr = ':checkbox[name=' + this.id + ']';
            if ($(cbstr).prop("checked") == false) remove_polygon(this.id);
        });

        $('.dsOverlay').click(function() {
            toggle_polygon(this, this.id);
        });

        var prodUrls = new Array();
        var prodExtents = new Array();
        {% for img in images %}
            {% for prod in img.products %}
            mapImageOverlays["prod_{{ prod.id }}"] = L.imageOverlay('{% static prod.location.uri %}',
                                                [[{{ img.geolocation.geometry.extent.1 }}, {{ img.geolocation.geometry.extent.0 }}],
                                                 [{{ img.geolocation.geometry.extent.3 }}, {{ img.geolocation.geometry.extent.2 }}]]);
            {% endfor %}
        {% endfor %}


        $(".prodButton").click(function() {
            toggle_image_overlay(this);
        });

    </script>

{% endblock %}

